name: Django CI and Deploy to Render

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Django migrations & collectstatic
        run: |
          python myproject/manage.py migrate --settings=myproject.settings_prod
          python myproject/manage.py collectstatic --noinput --settings=myproject.settings_prod
      - name: Install Render CLI
        run: |
          curl -fsSL https://cdn.render.com/cli/install.sh | bash
      - name: Add Render CLI to PATH
        run: echo "$HOME/.render/bin" >> $GITHUB_PATH
      - name: Deploy to Render
        run: render deploy --service-id ${{ secrets.SERVICE_ID }} --api-key ${{ secrets.RENDER_API_KEY }}
        shell: bash