name: Django CI and Deploy to Render

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django migrations & collectstatic
        run: |
          python myproject/manage.py migrate --settings=myproject.settings_prod
          python myproject/manage.py collectstatic --noinput --settings=myproject.settings_prod

      # استخدم الـ Action الرسمي لـ Render
      - name: Deploy to Render
        uses: render-examples/deploy-render@v1
        with:
          api_key: ${{ secrets.RENDER_API_KEY }}
          service_id: ${{ secrets.SERVICE_ID }}
